<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9">
        <div class="footer-section-one">
          <h5>Information</h5>
          <ul>
            <li>
              <a id="alogN" routerLink="/login"><i class="mdi mdi-chevron-right"></i> Log in</a>
              <a id="aLogoutN" (click)="logout()" routerLink="/"><i class="mdi mdi-chevron-right"></i> Log out</a>
            </li>
            <li id="asignN"><a routerLink="/register"><i class="mdi mdi-chevron-right"></i> Sign up</a></li>
            <li><a routerLink="/contact"><i class="mdi mdi-chevron-right"></i> Contact</a></li>
            <li><a routerLink="/aboutus"><i class="mdi mdi-chevron-right"></i> About Us</a></li>
          </ul>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
        <div class="footer-section-four">
          <img src="assets/images/tf-logo.png" alt="" class="img-fluid">
          <ul>
            <li><span>Containertracking</span></li>
            <li>Automatikvej 1<br>2860 Soborg, Denmark, CVR: 38924176,</li>
            <li>Tlf: +45 22 50 30 66</li>
            <li><a href="mailto:mail@containertracking.dk">mail@containertracking.dk</a></li>
          </ul>
        </div>
        <div class="socail-links">
          <ul class="list-inline">
            <li class="list-inline-item"><a class="linkedin-icon" routerLink=""><i class="mdi mdi-linkedin"></i></a></li>
            <li class="list-inline-item"><a class="skype-icon" routerLink=""><i class="mdi mdi-skype"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="footer_bottom">
    <p> © 2019 Transportform. All rights reserved.</p>
  </div>

</div>
